<div class="input-field col s6">
  <%= form_tag do %>
      <div id="select-genre-top">
        <%= select_tag :genre, options_for_select(@genres.collect{|g| [g.name, g.id]}, selected: params[:genre]), prompt: "Select country", class: "form-control", id: "genre-select" %>
      </div>
  <% end %>
<div id="games-genre-top">
  <div class="row" id="game-top-display">
    <% if @game_tops.any? %>
        <%= @game_tops.each do |game_top| %>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="panel panel-default">
                <a href=""><img class="display-center"
                                src="https://static.gamespot.com/uploads/screen_small/1579/15794034/3292649-project-cars-2-review-promo1-2.jpg"></img></a>
              </div>
            </div>
            <div class="col-md-6"><%= game_top.name %></div>
  <div class="top-hr"><hr/></div>
        <% end %>
    <% end %>
</div>
</div>
</div>

    <script>
        $(document).on("change", "#genre-select", function () {
            var genre = $(this).val();
            $.ajax({
                url: "/static_pages/genre_top",
                method: "GET",
                dataType: "json",
                data: {genre: genre},
                error: function (xhr, status, error) {
                    console.error('AJAX Error: ' + status + error);
                },
                success: function (response) {
                    console.log(response);
                    var games = response["games"];
                    $('#games-genre-top').html("");
                    if(games.length > 0){
                        for (var i = 0; i < games.length; i++) {
                            $("#games-genre-top").append(
                                '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">' +
                                  '<div class="panel panel-default">' +
                                    '<a href=""><img class="display-center" src="https://static.gamespot.com/uploads/screen_small/1579/15794034/3292649-project-cars-2-review-promo1-2.jpg"></img></a>' +
                                  '</div>' +
                                '</div>' +
                                '<div class="col-md-6">' + games[i]["name"] + '</div>' +
                                '<div class="top-hr"><hr/></div>');
                        }    
                    }
                    

                }
            });
        });
    </script>