<div class="row">
    <div class="col-md-12">
        <!--div class="well well-sm"-->
        <div class="row">
            <div class="panel panel-default panel-horizontal">
                <div class="panel-heading display-center">
                    <a href="#"><img class="display-center"
                                     src="https://static.gamespot.com/uploads/screen_small/1579/15794034/3292649-project-cars-2-review-promo1-2.jpg"></a>
                    <!--<a href="#"><img src="http://via.placeholder.com/150x150"></a>-->
                </div>

                <div class="panel-body">
                    <div class="col-xs-12 col-md-12 section-box">
                        <h2>FIFA</h2>
                        <div class="email">Review by: Lan Mai</div>
                        <p>
                            In the Age of the Internet, where we demand everything faster and our attention spans shrink
                            to that of a goldfish, it's interesting that both PES and FIFA are slowing down
                        </p>
                        <hr/>
                        <div class="row rating-desc">
                            <span class="glyphicon glyphicon-comment"></span>(100 Comments)<span
                                    class="separator">|</span>
                        </div>
                    </div>

                </div>
                <div class="panel-footer text-center" style="width:4em; padding-bottom:5px;">
                    <div class="circle circle-big text-center">8</div>
                </div>
            </div>

        </div>
        <!--/div-->
    </div>
</div>