<div class="row">
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <!--<div class="row">-->
    <div class="panel panel-default">
        <a href=""><img class="display-center"
                        src="https://static.gamespot.com/uploads/screen_small/1579/15794034/3292649-project-cars-2-review-promo1-2.jpg"></img></a>
    </div>
    
    <!--</div> -->
</div>
<div class="col-md-6">Title title</div>
</div>
<div class="top-hr"><hr/></div>
 