<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 slide-item-game">
    <!--<div class="row">-->
    <div class="panel panel-default">
        <a href=""><img class="display-center"
                        src="https://static.gamespot.com/uploads/screen_small/1579/15794034/3292649-project-cars-2-review-promo1-2.jpg"></img></a>
    </div>
    <div class="circle circle-small text-center">8</div>
    <h5>Title title</h5>
    <!--</div> -->
</div>

 