/* line 1, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
body {
  background: url("background-login.jpg") fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
}

/* line 10, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
.overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 15, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
nav {
  background-color: transparent !important;
  border: none !important;
}

/* line 20, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
.navbar-inverse .navbar-nav > .active > a {
  background-color: transparent !important;
}

/* line 24, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
.wrap {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 20vh;
  left: 0;
  z-index: 99;
}

/* line 35, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
p.form-title {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5%;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* line 47, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
form {
  width: 350px;
  margin: 0 auto;
}

/* line 53, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
form.reset-password {
  width: 400px;
}

/* line 59, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
form.login input[type="text"], form.login input[type="password"], form.login input[type="email"], form.signup input[type="text"], form.signup input[type="password"], form.signup input[type="email"], form.reset-password input[type="text"], form.reset-password input[type="password"], form.reset-password input[type="email"], form.resend-confirmation input[type="text"], form.resend-confirmation input[type="password"], form.resend-confirmation input[type="email"], form.edit-password input[type="text"], form.edit-password input[type="password"], form.edit-password input[type="email"] {
  width: 100%;
  margin: 20px 0px;
  padding: 5px 10px;
  background: 0;
  border: 0;
  border-bottom: 1px solid #FFFFFF;
  outline: 0;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #FFFFFF;
  outline: 0;
  transition: 0.5s all;
}

/* line 77, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
form.login input[type="checkbox"] {
  margin-top: 16px;
}

/* line 81, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
form.login .checkbox-text {
  color: #ffffff;
}

/* line 87, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
form.login input[type="submit"], form.signup input[type="submit"], form.reset-password input[type="submit"], form.resend-confirmation input[type="submit"], form.edit-password input[type="submit"] {
  color: #ffffff;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 16px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
  background-color: transparent;
  border: 1px solid #ffffff;
  transition: 1s all ease;
}
/* line 102, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
form.login input[type="submit"]:hover, form.signup input[type="submit"]:hover, form.reset-password input[type="submit"]:hover, form.resend-confirmation input[type="submit"]:hover, form.edit-password input[type="submit"]:hover {
  background-color: white;
  color: black;
}

/* line 108, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
form.login .remember-forgot {
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
}

/* line 114, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
form.login .forgot-pass-content {
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 123, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
form.login a, form.signup a, form.reset-password a, form.resend-confirmation a, form.edit-password a {
  color: #ffffff;
  transition: color 0.5s ease;
}

/* line 129, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
.pr-wrap {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}

/* line 141, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
.show-pass-reset {
  display: block !important;
}

/* line 146, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
.pass-reset {
  margin: 0 auto;
  width: 250px;
  position: relative;
  margin-top: 22%;
  z-index: 999;
  background: #FFFFFF;
  padding: 20px 15px;
}

/* line 157, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
.pass-reset label {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px;
}

/* line 164, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
.pass-reset input[type="email"] {
  width: 100%;
  margin: 5px 0 0 0;
  padding: 5px 10px;
  background: 0;
  border: 0;
  border-bottom: 1px solid #000000;
  outline: 0;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #000000;
  outline: 0;
}

/* line 182, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
.pass-reset input[type="submit"] {
  width: 100%;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
}

/* line 195, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
.pass-reset input[type="submit"]:hover {
  transition: background-color 0.5s ease;
}

/* line 199, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
.posted-by {
  position: absolute;
  bottom: 26px;
  margin: 0 auto;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.66);
  padding: 10px;
  left: 45%;
}

/* line 210, /var/www/html/it_nihongo_3/app/assets/stylesheets/devise.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.6;
}
