<%= form_for(current_user.active_relationships.build, url: relationships_path) do |f| %>
    <div><%= hidden_field_tag :followed_id, @user.id %></div>
    <%=  button_tag(type: 'submit', class: "btn btn-primary btn-labeled") do %>
        <span class="btn-label"><i class="fa fa-user-plus"></i></span> Follow
    <% end %>
<% end %>
