<% relationship = current_user.active_relationships.find_by(followed_id: @user.id)%>
<%= form_for(relationship, url: relationship_path(relationship.id),
             html: { method: :delete }, remote: true) do |f| %>
    <%=  button_tag(type: 'submit', class: "btn btn-default btn-labeled") do %>
        <span class="btn-label"><i class="fa fa-user-times" aria-hidden="true"></i></span> Unfollow
    <% end %>
<% end %>

