<% provide :title, "My reviews" %>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
    </div>
    <div class="col-sm-3">
      <%= render "new_review_form" %>
    </div>
  </div>
</div>
